.search {
  width: 25%;
  border: 1px solid rgb(110, 110, 110);
  padding: 20px;
  margin: 0px 0px 0px 20px;
  height: 640px;
}

.items {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 10px 20px;
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(20px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

.all {
  display: flex;
  margin: 20px 0;
}

#price {
  width: 84px;
}

.search-field {
  margin: 10px 0;
  padding: 8px 0;
  border-top: solid rgb(179, 179, 179);
}

.keyword {
  width: 100%;
  padding: 8px 8px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 17px;
  resize: none;
}

#mean {
  font-weight: bold;
  font-size: 19px;
}

.go {
  width: 45%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 18px;
  margin-right: 4px;
}
.go2 {
  width: 45%;
  background: #f5f5f5;
  border: 1px solid #a8a8a8;
  color: rgb(0, 0, 0);
  line-height: 48px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 18px;
}


.itemss {
  zoom: 80%;
  list-style: none;
  animation-name:fadeInAnime;
  animation-duration:1.2s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.type {
  font-size: 18px;
}

.item-name2 {
  font-size: 2.5vh;
}